<template>
<div>{{ex}}</div>
</template>

<script>
export default {
    asyncData({ params }) {
        return {
            ex: params.ex
        }
    },
    validate({ params }) {
        return /^\d+$/.test(params.ex)
    },
    data() {
        return{
            ex: null
        }
    }
}
</script>
